.reservations-container {
    padding: 0px;
  }
  
  .calendar-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .reservation-item {
    width: calc(100% / 7 - 10px);
  }
  
  .reservation-card {
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
  }
  
  .confirmed {
    background-color: #a8e6cf;
  }
  
  .pending {
    background-color: #ffdd95;
  }
  
  .canceled {
    background-color: #ff8b94;
  }
  
  .legend {
    display: flex;
    gap: 5px;
    margin-top: 5px;
  }
  
  .legend-item {
    padding: 0px 0px;
    border-radius: 5px;
    color: #fff;
  }
  
  .legend-item.confirmed {
    background-color: #a8e6cf;
  }
  
  .legend-item.pending {
    background-color: #ffdd95;
  }
  
  .legend-item.canceled {
    background-color: #ff8b94;
  }
  .reservations-container {
    padding: 5px;
    max-width: 100%; /* Aumenta el ancho máximo según tus necesidades */
    margin: auto; /* Centra el contenedor */
  }
  
  .calendar-container {
    margin-top: 5px;
  }
  .rbc-event {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  